.homepage-header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 4;
}
.configHead{
    background: transparent;
}
.configHead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
    z-index: -1;
  }
  .homepage-sub-hero{
    position: relative;
    /* background-image: url('../../assets/images/descktopBg.svg'); */
    height: 40vh;
    background-size: cover;
  }
  .sub-hero-cards{
    position: absolute;
    top: -4.7rem;
    display: flex;
    padding: .3rem 3.2rem;
    left: 50%;
        transform: translate( -50%,0);
    z-index: 2;
  }
  .sub-hero-card{
    width: 360px;
    background-color: var(--color-green);
    padding: 1rem 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .sub-hero-cards div:first-child{
    background: var(--color-orange);
  }
  .sub-hero-cards div:last-child{
    background: var(--color-green-variant);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .sub-hero-cards div:last-child h2{
    color: var(--color-green);
  }
  .sub-hero-card h2{
    color: var(--color-green-variant);
    padding-bottom: 1.5rem;
  }
  .sub-hero-card h3{
    font-style: italic;
    color: var(--color-black-variant);
    padding-bottom: 1.5rem;
  }
  .sub-hero-card p{
    line-height: 1.6rem;
  }
  .subhero-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 127px;
    padding: .35rem .7rem;
    border: 2px solid var(--color-blue);
    border-right:none;
    background: transparent;
    margin-top: 1.4rem;
    cursor: pointer;
    font-size: 15px;
    color: var(--color-blue);
    font-weight: 600;
    border-radius: .9rem;
    transition: 0.5s ease;
  }
  #btn-icon{
    font-size: 1.15rem;
  }
  .subhero-btn:hover #btn-icon{
    transform: translateX(10px);
  }

  
  .round-head{
    background: var(--color-green-variant);
    width: max-content;
    padding: .3rem;
    border-radius: .9rem;
    align-items: center;
    color: var(--color-black-variant);
    font-weight: 600;
    /* margin-bottom: 1.2rem; */
  }
 
  .homepage-middle{
    padding: .3rem 3.2rem;
    box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .home-middle-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.1rem;
  }
  .home-middle-card h1{
    padding: 1.3rem 0;
  }
  .home-middle-card h3{
    padding: 1rem 0;
    padding-right: 1.4rem;

  }
  .home-middle-card p{
    line-height: 1.5rem;
    color: var(--color-grey);
    padding-right: 1.4rem;
  }
  .middle-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    border: 2px solid var(--color-black-variant);
    background: transparent;
    margin-top: 1.7rem;
    border-radius: .9rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    padding: .7rem;
  }
  .middle-btn:hover{
    border-right: none;
  }
  .middle-btn:hover #btn-icon{
    transform: translateX(7px);
  }
  .homemid-image{
    background: url("https://plus.unsplash.com/premium_photo-1663099874638-c9e74bb35661?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZW52aXJvbm1lbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    height: 100%;
    border: 5px solid var(--color-green);
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  .homepage-mid-section{
    padding: 1rem 3.7rem;
    background: url("../../assets/images/bigbg.svg");
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 1.4rem 0;
  }
 .midsection-header h1{
    text-transform: uppercase;
    padding: 1.3rem 0;
    color: var(--color-black-variant);
 }
 .midsection-header span{
    color: var(--color-green-variant);
 }
 .midsection-header h3{
    font-style: italic;
    color: var(--color-grey);
    font-size:medium;
    font-weight: normal;
 }
 .homepage-mid-bottom{
    position: relative;
    padding: .3rem 3.7rem;
    margin: 4rem 0;
    
 }
 .homepage-mid-bottom::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: url("https://recycle.orionthemes.com/demo-1/wp-content/uploads/2016/12/cool-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
 }
 /* .homepage-mid-bottom:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(45deg,red 33%,#f0f0f0 33%,#f0f0f0 66%,red 66%);
 } */
 .midbottom-head{
    position: relative;
 }
 .midbottom-head h1{
    text-transform: capitalize;
    color: var(--color-white);
    text-align: center;
    margin: 2.5rem 0;
 }
 .midbottom-head h3{
    font-style: italic;
    padding: 0 4rem;
    text-align: center;
    color: var(--color-green);
 }
 .mid-bootom-cards{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
 }
 .midbottom-card{
    width: 340px;
    background: var(--color-white);
    padding: 1rem 2rem;
    margin: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
 }
 .mid-paragraph{
    height: 100px;
    overflow: hidden;
 }
 .mid-top h4{
    color: var(--color-green-variant);
    padding: .6rem 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size:12px;
 }
 .mid-top h4 span{
    color: var(--color-black-variant);
 }
 .midbottom-card h2{
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-black-variant);
    padding: .5rem 0;
    font-size: 20px;
 }
 .midbottom-card p{
    color: var(--color-grey);
    font-weight: 200; 
 }
 .mid-bottom-btn{
    color: var(--color-green-variant);
    border: 2px solid var(--color-green-variant);
 }
 .mid-bottom-hang{
    position: absolute;
    background: var(--color-orange);
    padding: 1rem;
    color: var(--color-black-variant);
    top: -1.8rem;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
 }
 .mid-bottom-nav-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.7rem;
    font-size: 2rem;
    padding: 1.2rem 3.2rem;
    margin-bottom: 1rem;
    color: var(--color-white);
    /* cursor: pointer; */
 }
 #nav-btn{
    cursor: pointer;
 }
 #nav-btn:hover,
 #nav-btn:focus,
 #nav-btn:active{
    color: var(--color-orange);
 }

.homepage-circular-pattern{
   padding: 0.3rem 3.7rem;
   margin: 2rem 0;
   background: var(--color-grey-variant);
}
.homepage-circular-pattern h1{
   text-transform: capitalize;
   color: var(--color-black-variant);
   text-align: center;
   margin: 1.2rem 0;
   font-weight: 400;
}
.homepage-circular-pattern h3{
   font-weight: 200;
   color: var(--color-grey);
   font-style: italic;
   padding: 1rem 3rem;
   text-align: center;
   margin: 1rem 0;
}
.circular-pattern-btns{
   text-align: center;
   margin: 1rem auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.circular-pattern-btns button{
   position: relative;
   width: 130px;
   padding:1.1rem .5rem;
   border: none;
   background: var(--color-white);
   text-transform: capitalize;
   color: var(--color-black-variant);
   cursor: pointer;
}
.circular-pattern-btns button:first-child{
   border-right: 1px solid var(--color-black-variant);
}
.circular-pattern-btns button:last-child{
   border-left: 1px solid var(--color-black-variant);
}
.circular-pattern-btns button:hover{
   color: var(--color-green-variant);
}
.circular-pattern-cards{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.circular-pattern-card{
   width: 50%;
}
.circular-pattern-card img{
    width: 100%;
    height: auto;
}
.cp-2{
    padding: 4rem 2.5rem;
    background: var(--color-white);
    text-align-last: left;
    line-height: 1.4rem;
}
.cp-2 h2{
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-black-variant);
}
.cp-2 h3{
    padding: 0;
    font-style: normal;
    text-align: left;
}
.cp-2 p{
    color: var(--color-grey);
    font-weight: 200;
}
.homepage-waste-counter{
    position: relative;
    background: url("../../assets/images/counter.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4rem 3.7rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
.waste-counter-cards{
    position: relative;
    /* padding: 4rem 0; */
    color:var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    z-index: 1;
}
.waste-counter-card h1{
    font-weight: 300;
    margin-bottom: 1rem;
}
.waste-counter-card small{
    font-weight: 300;
    font-size: 16px;
}

.homepage-contacts{
    padding: 2rem 3.2rem;
}

.homepage-contacts-card form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--color-grey-variant);
    padding: 3rem 3.1rem;
}
.homepage-contacts-card form input{
    padding: 1rem;
    border: 1px solid var(--color-grey-variant);
}
.contact-input div input:focus{
    border: 1px solid var(--color-grey);
    outline: none;
}
.homepage-contacts-card form textarea:focus{
    border: 1px solid var(--color-grey);
    outline: none;
}
.homepage-contacts-card form textarea::placeholder{
    padding: .4rem;
}
.contact-input{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.contact-input div{
    position: relative;
}
.input-icon{
    position: absolute;
    color: var(--color-green-variant);
    /* right: -86%; */
    left: 86%;
    top: -50%;
    transform: translate(-90,8%);
    width: max-content;
}
.homepage-contacts-card form input:last-child{
    margin-left: 2rem;
}
.homepage-contacts-card form textarea{
    width: 100%;
    border: 1px solid var(--color-grey-variant);
}
.homepage-contacts-cards{
    display: flex;
}
.homepage-contacts-card{
    width: 50%;
}
.homepage-contacts-card form h1{
    color: var(--color-green-variant);
    font-weight: 300;
    padding: 1rem;
}
.homepage-contacts-card form h1 span{
    color: var(--color-black-variant);
    border-bottom: 2px solid var(--color-orange);
}
.contacts-card2{
    padding: .4rem 3rem;
}
.contacts-card2 h1{
    font-weight: 300;
    color: var(--color-green-variant);
}
.contacts-card2 span{
    color: var(--color-black-variant);
    border-bottom: 2px solid var(--color-orange);
}
.client-avatar{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.client-avatar img{
    width: 15%;
    border-radius: 50%;
}
.client-avatar div{
    display: flex;
    flex-direction: column;
    gap: .9rem;
}
.client-avatar div small{
    font-weight: 100;
    color: var(--color-black-variant);
}
.contacts-card2 p{
    color: var(--color-black-variant);
    font-weight: 200;
    line-height: 1.3rem;
}


  @media screen and (max-width:1024px) {
    .sub-hero-cards{
        padding: .3rem 1rem;
        flex-wrap: wrap;
    }
    .sub-hero-card{
        width: 310px;
    }
  }
 .small-middle{
    display: none;
 }
  @media screen and (max-width:768px) {
    .configHead::before {
        /* background: black; */
        backdrop-filter: blur(10px);
        height: max-content;
    }
    .sub-hero-cards{
        flex-direction: column;
        gap: 1rem;
        padding: .3rem 1rem;
        z-index: 3;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate( -50%,0);
    }
    .sub-hero-card{
        width: 340px;
    }
    .homepage-sub-hero{
        height: 90vh;
    }
    .homepage-middle{
        margin-top:-3.2rem;
        padding: .3rem;
    }
    .home-middle-cards{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .home-middle-cards div:last-child{
        display: none;
    }
    .small-middle{
        display: block;
        height: 40vh;
     }
     .homepage-mid-section{
        padding: .3rem;
        background: url("../../assets/images/smallbg.svg");
      }
      .midsection-header h1,.midsection-header h3{
        padding: 1.3rem;
      }
      .homepage-mid-bottom{
        padding: .3rem;
      }
      .midbottom-head h3{
        padding: 0 .4rem;
      }
      .midbottom-head h1{
        margin: 1.2rem 0;
      }
      .mid-bootom-cards{
        gap: .5rem;
      }
      .circular-pattern-card{
        width: 100%;
     }
     .homepage-circular-pattern{
        padding: .3rem;
     }
     .cp-2{
        padding: .7rem;
     }
     .homepage-waste-counter{
        padding: 2rem .8rem;
     }
     .waste-counter-cards{
        gap: 1rem;
        justify-content:safe;
     }
     .homepage-contacts-cards{
        flex-direction: column;
     }
     .homepage-contacts-card{
        width: 100%;
    }
    .homepage-contacts{
        padding: 0;
    }
    .homepage-contacts-card form{
        padding: .3rem;
    }
     .contact-input input{
        width: 99%;
     }
     .contact-input{
        /* flex-direction: column; */
        gap: .2rem;
     }
     .contact-textarea textarea{
        padding: auto;
        /* cols:10; */
     }
  }
  /* *{
    outline-style: solid;
    outline-color: red;
  } */