.slider {
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
    background: var(--color-green);
    user-select: none;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    z-index: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .slide.active {
    /* opacity: 1; */
    z-index: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Adjust the opacity and color as needed */
    mix-blend-mode: darken;
    z-index: 1;
  }
  
  .caption {
    width: 60%;
    position: absolute;
    /* bottom: 20px; */
    top: 28%;
    left: 20px;
    padding: 0 3rem;
    color: #fff;
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 4;
  }
  .caption div{
    margin-top: 1.5rem;
  }
  .slider-btns{
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  
  @media screen and (max-width:764px) {
    .slider{
      height: 730px;
    }
    .caption{
      width: 100%;
      padding: 0 .5rem;
      left: 5px;
    }
    .slider-btns{
      gap: 1.8rem;
    }
  }